<div class="jumbotron text-center">
  <h1>Mean Authentication App</h1>
  <p class="lead">
    Welcome to our custom MEAN Authenication Demo App. This app has been built
    from scratch.
  </p>
  <div>
    <a href="" class="btn btn-outline-dark mx-2" [routerLink]="['/register']"
      >Register</a
    >
    <a href="" class="btn btn-outline-dark" [routerLink]="['/login']">Login</a>
  </div>
</div>

<!-- div -->
<div class="row">
  <div class="col-md-4">
    <h4>An Express Backend</h4>
    <p>Node.js/Express, with Mongoose for ORM</p>
  </div>
  <div class="col-md-4">
    <h4>Built With the Angular CLI</h4>
    <p>Used for generated components, services and routes.</p>
  </div>
  <div class="col-md-4">
    <h4>...And Passport with JSONWebTokens</h4>
    <p>
      For a full-featured Authentication system, utilizing a JWTStrategy to
      store user data, protect routes and log in/out.
    </p>
  </div>
</div>
